@charset "utf-8";
/* CSS Document */
.imageChange {
max-width: 120px; height: auto; padding-top: 5px
}
.menu{
	padding-top: 5px; 
}
.menu ul{
	margin: 0; padding: 0; list-style: none; display: flex
}
.menu ul li a{
	padding:10px 20px; text-decoration: none; font-size: 17px; color: #454545; border-radius: 20px;
}
.menu ul li a:hover{
	background-color:darkred; color:white
}
.iconmenu {
	position: relative; left: 170px;
}
.row {
	display:flex; align-items: center
}
.text-do{
	color: darkred
}
.vien{
	border: 1px solid darkred; padding: 10px; position: relative; overflow: hidden
}
.icon {
	position: absolute; width: 80%; height: 45px; left: 10%; top: -15%; display: flex; justify-content: space-around; transition: all 1s
}
.icon a {
	width: 45px; height: 45px; background-color: rgba(208,203,203,1.00); border-radius: 50%; display: flex; justify-content: center; align-items: center; text-decoration: none; color: darkred
}
.vien:hover .icon{
	top: 40%
}
.caption{
	width: 30%; text-align: center;  left: 35%; top: 20%
}
.caption h1{
	font-size: 40px; color: #666666
}
.caption p{
	color: whitesmoke; font-size: 20px
}
.trong{
	position:absolute; left: 40%; top: 10%
}
.trong h1{
	text-decoration-line:underline; text-decoration-color: rgba(133,0,2,1.00) 
}
.vien2{
	width: 200px; height: 100%; border: 2px solid #FFFFFF; padding: 10px;; text-align: center; margin-top: 30px;
}
.vien2 a{
	text-decoration: none; color: darkred
}
.vien2 a:hover{
	color: white
}
.ngang{ 
display:flex; position: absolute; top: 250px; left: 23%
	}
.banner2{
	position:relative
}
.banner5 {
	position:relative
}
.trong2{
	position:absolute; left: 34%; top: 20%
}
.trong2 h1{
	text-decoration-line:underline; text-decoration-color: rgba(133,0,2,1.00) 
}
.form-control{
	padding:8px ; margin: 8px 0; width: 80%;
}
.text2{
	left: 47%; top: 10%; position:absolute
}

.khung1{
	position: relative; top: 35%; left:20% ;display: flex
}
.trong5{
 width: 500px; left: 80%; padding-left: 40px
}
.trong5 h1{
	text-decoration-line:underline; text-decoration-color: rgba(133,0,2,1.00) 
}
.khung1 {
	display: flex; left: 10%; top: 50px
}
.shadow{
	border: 1px solid rgba(151,146,146,1.00); min-height: 200px; box-shadow: 5px 5px 5px gray; padding: 40px
}
.container1{width:40%; margin: auto}
.trong3{
	text-decoration-line:underline; text-decoration-color: rgba(133,0,2,1.00); text-align: center}
.khung1{ display:flex; text-align: center; }
.text{
	padding: 55px
}